.test {
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    border: 10px solid purple;
}
#test1 {
    padding: 100px;
}

#test2 {
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

#test3 {
    padding: 50px; /* 모든 여백 */
    padding: 20px 50px; /* 위, 아래 : 20px | 좌,우 : 50px*/
    padding: 20px 50px 100px; /* 위-좌,우-아래*/
    padding: 100px 20px 30px 10px; /* top부터 시계 방향으로*/
}

#test4 {
    margin: 50px;
}

#test5 {
    margin-bottom: 50px;
    margin-left: 20px;

}

#test6 {
    width: 200px;
    height: 200px;
    margin: 80px;
    margin: 30px 50px 80px 100px;  /* top부터 시계 방향으로*/
    margin: auto;  /* 좌우 기준으로 가운데 배치 */
}